img {
  max-width: 100%;
}

body {
  line-height: 1.5;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

li{
  list-style: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

header{
  padding:5px;
  margin-bottom: 25px;
}
/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

option  {
  color: red !important;
}
