img {
  max-width: 100%;
}

body {
  line-height: 1.5;
}

main {
  margin: auto;
}

section{
  margin: auto;

  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

li{
  list-style: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

header{
  margin-bottom: 20px;
}
/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

option  {
  color: red !important;
}

.text-white{
    color: white;
}

.errors{
  color:red;
}
