.pull-left {
  float: left;
}

.displayoff{
  display: none;
}

.pull-right {
  float: right;
}

.btn{
  font-weight:700;
}

.main-gene-id-header{
  min-width: 70px;
}

#main{
  text-align: center;
}

.btn-warning:hover{
  background-color: #bad636;
  border: solid 1px #bad636;
  color: #003056;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

.logo{
    background-image: url(/images/logo-CLC.png)  ;
    vertical-align: middle;
    display: inline-block;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

}
.new-header{
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}
.morphology-thumbnail.active{
  opacity: 0.7;
}

.morphology-thumbnail:hover{
  opacity: 0.7;
}

.heading-group-h1 a{
    display: flex;
    justify-content: center;
    position: relative;
    float: left;
    vertical-align: middle;
    overflow: hidden;
    width: 20rem;
    height: 80px;
    margin-left: 20px;
}

.sub-page-tab{
  font-weight: bold;
  font-size: 16px;
}

.sub-page-tab a{
  background-color: #eee;
}

#cellline-info{
  margin-bottom: 40px;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}

footer{
  text-align: center;
  font-size: .5em;
  border-top: 2px gray solid;
  width: 80%;
  margin: auto;
  margin-top: 200px;
}

.table-cell-line-id{
  min-width: 80px;
}

.table-main-termial-tagged{
  min-width: 104px;
}

.tab-section{
  display: none;
}

#cell-line-table {
  width: 70%;
}

#cell-line-table td{
}

.cellline:hover{
  /*background-color: gray;
  color: white;*/
}

.cellline-info{
  width:40%;
  box-sizing: border-box;
  display: inline-block;
}

.profile-image{
  display: inline-block;

}
.table-head{
  /*background-color: #D5DED9;*/
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-success{
  color: #bad636
}

.text-info{
  color: #003056
}

#in_progress{
  margin-top: 100px;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
