.displayoff{
  display: none;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Header
=======================================*/
.heading-group-h1 {
  max-width: 80%;
  float: left;
  padding: 0 0 .2em 1em;
}

.heading-group-h1 a{
    display: flex;
    justify-content: center;
    position: relative;
    float: left;
    vertical-align: middle;
    overflow: hidden;
    width: 20rem;
    height: 80px;
    margin-left: 20px;
}

.logo{
    background-image: url('/images/logo_CS_header.png');
    content: '';
    vertical-align: middle;
    display: inline-block;
    background-size:contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 40px;
    margin: 10px 0px;
    width: 272px;

}
.new-header{
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}

#cell-collection-banner{
  background-color: #413B54;
  color:#eee;
}

.main-nav ul {
  display: none;
  padding: 0;
  margin-right: 30px;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}
.nav>li.disabled>a:hover, .nav>li.disabled>a:focus{
  background-color: #eee;
}

/*Home section
=======================================*/
#main{
  text-align: center;
  margin-top: 10em;
  margin-bottom: 30em;
}

/*Table
=======================================*/
.main-gene-id-header{
  min-width: 70px;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}

.table-head{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.table-responsive{
  border: 1px solid #e7e7e7;
}

#in_progress{
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-cell-line-id{
  min-width: 100px;
  display: inline-block;
}

.table-main-termial-tagged{
  min-width: 104px;
}

#cell-line-table td{
}

.table-title{
  margin-bottom: 0.5em;
  padding-left: 10px;
}

.table-footer{
  padding-left: 10px;
}

.navbar-form{
  border: none;
}

.image-mask{
  display: inline-block;
  overflow: hidden;
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 50%;
}
.image-mask img{
  max-width: 369%;
  left: -101px;
  position: absolute;
  top: -40px;
}
#complete .center-small{
  display: block;
  text-align: center;
}
#in_progress .image-holder{
  display: none;
}
.image-holder{
  width: 100%;
}

.list-inline-separated .inline-seperated-item {
  margin-left: -10px;
}
.list-inline-separated .inline-seperated-item:first-child {
  margin-left: 0px;
}
.list-inline-separated .inline-seperated-item:after {
  content: '\2022';
  margin: 0 5px;
}
.list-inline-separated .inline-seperated-item:last-child:after {
  content: '';
}

/*FOOTER
=======================================*/

footer{
  text-align: center;
  font-size: .8em;
  margin: auto;
  margin-top: 200px;
  background-color: #5b5460;
  height: 14em;
  color:#eee;
  padding: 20px;
}

.caption-holder{
  padding:10px;
}

/*MEDIA
=======================================*/

@media only screen and (min-width: 992px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
  .image-holder{
    width: 5%;
  }
  .image-mask{
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    left: 0;
  }
  .image-mask img{
    max-width: 369%;
    left: -101px;
    position: absolute;
    top: -40px;
  }
  #complete .center-small{
    text-align: left;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
  .list-inline-separated .inline-seperated-item {
    margin-left: -10px;
  }
  .list-inline-separated .inline-seperated-item:first-child {
    margin-left: 0px;
  }
  .list-inline-separated .inline-seperated-item:after {
    content: '';
    margin: 0 5px;
  }
  .list-inline-separated .inline-seperated-item:last-child:after {
    content: '';
  }
}
