.site-header {
  /*background: #D5DED9;*/
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  /*padding: 0.1em;
  text-align: right;*/
}

.main-nav ul {
  display: none;
  padding: 0;
  margin-right: 30px;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

.subpage{
  margin-top: 30px;
}

.subpage-nav nav{
  width: 80%;
  text-align: center;
  margin: auto;
}

.subpage-nav a{
  height: 66px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.text-white{
    color: white;
}


#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.profile-summary-key{
  display: inline-block;
  width: 45%;
}
.profile-summary-value{
  display: inline-block;
  width: 40%;
}

#article-export label {
  font-size: .8em;
  font-style: italic;
  color: #ccc;
}

#about {
  display: none;
}

.btn{
  margin-bottom: 10px;
}

.bg-lightgray{
  background-color: #f2f2f2
}

.errors{
  color:red;
}

.image-scale img{
  width: 100%;
  margin: auto;
}

.data-section{
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.thirtypercent{
  width: 33%;
  float: left;
}
.morphology-thumbnail{
  width: 90%;
}

.fiftypercent{
  width: 50%;
  float: left;
}

.acknowledgements{
  text-align: center;
}

.GenomicCharacterization_tagged_allele_gel{
  width: 20%;
}


@media only screen and (min-width: 1130px) {


}
