.site-header {
  /*background: #D5DED9;*/
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  /*padding: 0.1em;
  text-align: right;*/
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

.subpage{
  margin-top: 10px;
}

.subpage-nav ul{
  display: block;
}



#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.profile-summary-key{
  display: inline-block;
  width: 50%;
}

#article-export label {
  font-size: .8em;
  font-style: italic;
  color: #ccc;
}

#about {
  display: none;
}

.btn{
  margin-bottom: 10px;
}

.bg-lightgray{
  background-color: #f2f2f2
}

@media only screen and (min-width: 1130px) {
  .subpage-nav li{
    display: inline-block;
    width: 20%;
    float: left;

  }

  .main-nav ul li:hover a {
    /*color: #29506D;*/
  }

}
